@page
@model WebApp.Pages.ReceivingPages.IndexModel
@{
    ViewData["Title"] = "Receiving System";
}

<h1 class="pb-4">@ViewData["Title"]</h1>

<blockquote class="blockquote">
    This system makes a receive Order upon Delivery. Employees will be able to input individual items on the purchase order to a receive order. This will update the items receveid in the inventory 
    (i.e) QuantityOutstanding and Quantity Ordered for the stock item. This system also has feature to return items that were ordered given a reason and any items that were not ordered (Unordered items). 
    Partial receive is also possible for the purchase order and purchase order can be clsoed once all the items are received or it can force closed given appropriate employee authontication.
</blockquote>

<span class="h3">Bugs for Receving System</span>
<ul class="mt-4">
    <li class="h5 alert-success">No Known Bugs </li>
</ul>
