@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-5 mb-2 mt-2">
            <h1 class="display-4">Team 1</h1>
            <p>DMIT2018- Section A01</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <p class="h2">Sections Assigned</p>
            <ul class="mt-4">
                <li class="h5">Tom Phong (Tom-oya-P) - Purchasing</li>
                <li class="h5">Haseeb Memon (hmemon6) - Receiving</li>
                <li class="h5">Jacky Zapanta (jackyzapanta) - Rentals</li>
                <li class="h5">Aaron Fong (afong20) - Sales</li>
            </ul>
        </div>
    </div>
</div>
